.about {
  margin-bottom: 0;

  .about-info-container {
    .about-info {
      display: block;
      margin: 8vh 0;
      line-height: 35px;
      font-size: 1.3em;
      font-family: $sans-serif;
      text-align: justify;

      @media screen and (max-width: $layout-breakpoint-small) {
        font-size: 1.1em;
        margin: 5vh 0;
      }

      @media screen and (max-width: $layout-breakpoint-xsmall) {
        font-size: 1em;
        line-height: 27px;
      }
    }
  }
}
