.legal-mentions-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;

  padding: 15vh 5vw 5vh;

  .back-btn {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue", sans-serif;

    font-size: 1em;
    margin-left: auto;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;

    &:hover {
      background-color: $black;
      color: $stone;
    }
  }

  .section-title.legal-mentions {
    margin-top: 2vh;
    margin-bottom: 2.5vh;
    font-family: $serif;
    font-size: 5em;
    font-weight: 600;
  }

  .line-separator {
    height: 1px;
    width: 0;
    background-color: $black;
    margin-bottom: 5vh;
  }

  .legal-mentions-infos {

    .legal-mentions {
      margin-bottom: 3vh;
      display: flex;
      flex-direction: column;

      span.title {
        font-family: $serif;
        font-weight: 600;
        font-size: 2em;
      }

      span {
        font-family: "Helvetica Neue", sans-serif;
        margin-bottom: 1vh;
        word-break: break-word;
      }
    }
  }
}
