// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap');

// Colors
$black: #1C2021;
$white: #FFF;
$stone: #FFF1D6;
$grey: #A85751;
$dark-grey: #1C2021;

// Fonts

$serif: "Cormorant", serif;
$sans-serif: "Gothic A1", sans-serif;


// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-tablet: 788px;
$layout-breakpoint-xsmall: 480px;
$layout-breakpoint-xxsmall: 350px;

//Padding
$global-padding: 0 50px


