html {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $stone;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  width: 100vw;
  overflow: hidden;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.line-separator {
  height: 1px;
  width: 100%;
  background-color: $black;
}

.section-container {
  display: flex;
  flex-direction: column;

  height: auto;
  margin-bottom: 100px;
  padding: $global-padding;

  .section-title {
    font-family: $serif;
    font-size: 6.5em;
    font-weight: 600;
  }
}
