@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

html {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $stone;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  width: 100vw;
  overflow: hidden;
}

.italic {
  font-style: italic;
}
